/* Place only CSS styles here */
body, html {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 !important;
  padding: 0 !important;
}

.header {
  padding: 8px 16px; /* Adjust as needed */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
